---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout pageTitle="Who Am I?">
  <p>
    My name is <a href="https://davecollison.dev" target="_blank" class="link">
      Dave Collison
    </a> and I built my third Astro project using <a
      href="https://www.ceos3c.com"
      target="_blank"
      class="link">
      ceos3c.com!
    </a>
  </p>
</MainLayout>
