---
import '../styles/global.css'
const pageTitle = 'Who Am I?'
---

<body>
  <a href="/">Home</a>
  <a href="/about" class="current">About</a>
  <a href="/hobbies">Hobbies</a>
  <h1>{pageTitle}</h1>
  <p>
    My name is Dave Collison and I built my third Astro project using <a
      href="https://www.cesos3c.com"
      target="_blank">
      ceos3c.com!
    </a>
  </p>
</body>
