---
import '../styles/global.css'
const pageTitle = 'Hobbies'
---

<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies" class="current">Hobbies</a>
  <h1>{pageTitle}</h1>
  <ul>
    <li>Software development</li>
    <li>Music</li>
    <li>Photography</li>
    <li>Comedy</li>
    <li>Art</li>
  </ul>
</body>
