---
import MainLayout from '../layouts/MainLayout.astro'
const hobbies = [
  'Software development',
  'Music',
  'Photography',
  'Comedy',
  'Art'
]
---

<MainLayout pageTitle="Hobbies">
  <ul>
    {hobbies.map(hobby => <li>{hobby}</li>)}
  </ul>
</MainLayout>
