---
import MainTemplate from '../layout/MainTemplate.astro'
const pageTitle = 'Hobbies'
---

<MainTemplate {pageTitle}>
  <h1>{pageTitle}</h1>
  <ul>
    <li>Software development</li>
    <li>Music</li>
    <li>Photography</li>
    <li>Comedy</li>
    <li>Art</li>
  </ul>
</MainTemplate>
