<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies">Hobbies</a>
  <h1>My Hobbies!!</h1>
  <ul>
    <li>Software development</li>
    <li>Music</li>
    <li>Photography</li>
    <li>Comedy</li>
    <li>Art</li>
  </ul>
</body>
