---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout pageTitle="Privacy Policy">
  <p>None of your business.</p>
  <a href="/" class="text-blue-500 hover:underline">Take me home</a>
</MainLayout>
