<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/hobbies">Hobbies</a>
    </li>
  </ul>
</nav>
<style>
  nav {
    padding: 1rem 2rem;
    background-color: slategray;
    margin-block-end: 3rem;
  }
  ul {
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
  }
  li a {
    text-decoration: none;
    color: white;
    transition: color 0.25s ease-in;
  }
  li a:hover,
  li a:focus-visible {
    transition: color 0.1s ease-out;
    color: orange;
  }
</style>
