<nav class="dark">
  <ul class="nav-flex">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/hobbies">Hobbies</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    padding: 1rem 2rem;
    background-color: slategray;
    margin-block-end: 3rem;
  }
  ul {
    font-size: 1.25rem;
  }
</style>
