---
const year = new Date().getFullYear()
---

<footer class="dark">
  <span class="text-white">
    © {year}
    <a href="https://davecollison.dev" target="_blank">Dave Collison</a>
  </span>
  <ul class="nav-flex">
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/privacy-policy">Privacy Policy</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</footer>

<style>
  footer {
    padding: 1rem 2rem;
    background-color: slategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }
</style>
