---
const year = new Date().getFullYear()
---

<footer>
  <span class="text-white">
    © {year}
    <a href="https://davecollison.dev" target="_blank" class="hover:underline">
      Dave Collison
    </a>
  </span>
  <ul class="flex flex-wrap items-center gap-x-5 text-white h-20">
    <li>
      <a href="/about" class="hover:underline">About</a>
    </li>
    <li>
      <a href="/privacy-policy" class="hover:underline">Privacy Policy</a>
    </li>
    <li>
      <a href="/contact" class="hover:underline">Contact</a>
    </li>
  </ul>
</footer>

<style>
  footer {
    padding: 1rem 2rem;
    background-color: slategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }
</style>
