---
import MainNav from '../components/MainNav.astro'
import TheFooter from '../components/TheFooter.astro'
import '../styles/global.css'

const { pageTitle } = Astro.props
const title = [pageTitle, 'Astro'].filter(Boolean).join(' | ')
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="The random wanderings of a dev strolling through the Astro-sphere."
    />
  </head>
  <body>
    <MainNav />
    <div class="content">
      {pageTitle && <h1 class="text-4xl mb-10">{pageTitle}</h1>}
      <slot />
    </div><select name="" id="" disabled="disabled"></select>
    <TheFooter />
  </body>
</html>

<style>
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .content {
    display: grid;
    width: clamp(300px, 100%, 1200px);
    margin-inline: auto;
    gap: 1rem;
    align-content: start;
  }
</style>
