<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/hobbies">Hobbies</a>
    </li>
  </ul>
</nav>
<style>
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
</style>
